@import url("https://fonts.googleapis.com/css?family=Barlow:800&display=swap");
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.jumbotron {
  position: relative;
}

/* clear  */
header {
  background-color: white;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 30px;
}

.navbar .logo {
  size: 30px;
  padding: 0 30px;
}

.navbar .logo img {
  width: 320px;
  margin: 0;
}

.navbar .navbar__menu {
  text-transform: uppercase;
  list-style-type: none;
}

.navbar .navbar__menu li {
  font-family: "Playfair Display SC", serif;
  position: relative;
  display: inline-block;
  font-size: 20px;
  padding: 0 30px;
  color: #a87e85;
  text-decoration: none;
  cursor: pointer;
}

.start {
  background-color: #d8c2ba;
  height: 70vh;
}

.start .quotation {
  width: 700px;
  font-family: "Playfair Display SC", serif;
  position: absolute;
  left: 10%;
  top: 32%;
  color: black;
  font-weight: bold;
}

.start .quotation strong {
  padding-left: 250px;
  color: #a87e85;
}

.start .quotation .quotation__1 {
  font-size: 40px;
  line-height: 1;
}

.start .quotation .quotation__2 {
  font-size: 30px;
  padding: 10px 0;
}

.start .quotation .quotation__3 {
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.start .start__menu--img {
  position: relative;
  left: 60%;
  color: #030307;
}

.about__me {
  background-color: #635656;
  height: 90vh;
}

.about__me .about__me--all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about__me .about__me--all img {
  width: 300px;
  height: 500px;
  margin-left: 65%;
  margin-top: 35%;
}

.about__me .about__me--all .about__me--paragraph {
  font-family: "Playfair Display SC", serif;
  color: #a87e85;
  margin-left: 20%;
  font-size: 20px;
  padding-top: 100px;
  width: 1000px;
  cursor: pointer;
  font-weight: bold;
}

.about__me .about__me--all .about__me--paragraph .diseases {
  padding: 15px;
}

.about__me .about__me--all .about__me--paragraph .diseases-all {
  padding: 5px 0;
}

.about__me .about__me--all .about__me--paragraph .health {
  padding: 40px 0;
  width: 500px;
}

.about__me .about__me--all .about__me--paragraph .health2 {
  font-size: 28px;
  font-weight: bold;
}

.about__me .more__about {
  margin: 3% 0 0 45%;
  text-align: center;
  color: #a87e85;
  background-color: #dfc3c8;
  border: none;
  width: 300px;
  height: 60px;
  font-weight: bold;
  font-size: 25px;
}
/*# sourceMappingURL=style.css.map */