@import url('https://fonts.googleapis.com/css?family=Barlow:800&display=swap');


$background-color: rgb(223, 195, 200);
$color-1: rgb(168, 126, 133);
$font: 'Playfair Display SC', serif;



html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

.jumbotron {
  position: relative;
}

/* clear  */


header {
  background-color: white;
}

.navbar {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 padding-top: 30px;

 .logo {
   size: 30px;
   padding: 0 30px;

     img {
     width: 320px; 
     margin: 0;
     }
 }
   .navbar__menu {
     text-transform: uppercase;
     list-style-type: none; 
   
       li {
         font-family: $font;
         position: relative;
         display: inline-block;
         font-size: 20px;
         padding: 0 30px;
         color:$color-1;
         text-decoration: none; 
         cursor: pointer;
       }
   }

}

// The end section header

.start {
  background-color: rgb(216, 194, 186);
  height: 60vh;


  .quotation {
    width: 700px;
    font-family: $font;
    position: absolute;
    left: 10%;
    top: 32%;
    color: black;
    font-weight: bold;
    

      strong {
      padding-left: 250px;
      color: $color-1;
      }
      .quotation__1 {
        font-size: 40px;
        line-height: 1;
      }
      .quotation__2 {
        font-size: 30px;
        padding: 10px 0;
      }
      .quotation__3 {
        font-size: 30px;
        text-align: center;
        // letter-spacing: 1px;
        padding-top: 20px;
      }
    }

    .start__menu--img {
      position: relative;
      left: 60%;
      color: rgb(3, 3, 7);
    }
}